/* 
    Document   : gauges
    Created on : 2010/09/30, 23:51:00
    Author     : matsudayousuke
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.hover {
    background-color:#ffffdd;
/*    border: 3px solid #99ccff; */
}

.cell {
    color: #cccccc;
    height: 60px;
    width: 120px;
}

#gauge_closed {
    float: left;
    position: relative;
    color: #777;
}

#gauge_all {
    float: right;
    position: relative;
    color: #08C;
}

.gauge_label {
}

.gauge_value {
    font-weight: bold;
    font-size: 14pt;
}



