
root { 
    display: block;
}

.hover {
    background-color:#ffffcc;
/*    border: 3px solid #99ccff; */
}

.cell {
    color: #cccccc;
    height: 60px;
    width: 120px;
}

#gauge_closed {
    float: left;
    position: relative;
    color: #777;
}

#gauge_all {
    float: right;
    position: relative;
    color: #08C;
}

.gauge_label {
}

.gauge_value {
    font-weight: bold;
    font-size: 14pt;
}

.tip-status {
    color: #aaa;
}

#gauges .gauges td.member {
    white-space: nowrap;
    padding-right: 20px;
}

