<h2><%= l(:label_gauges) %></h2>
<%= render :partial => 'gauges/gauges', :locals => {:members => @members} %>
<%= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>

